@model IEnumerable<Esercitazione_Polizia.Models.Trasgressore>

@{
    ViewBag.Title = "PuntiDecurtatiPerTrasgressore";
}

<h2>Punti Decurtati Per Trasgressore</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDTrasgressore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalePuntiDecurtati)
        </th>
        <th></th>
    </tr>

    @foreach (var trasgressore in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => trasgressore.IDTrasgressore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => trasgressore.TotalePuntiDecurtati)
            </td>
            <td>
                @Html.ActionLink("Dettagli", "Dettagli", new { id = trasgressore.IDTrasgressore })
            </td>
        </tr>
    }
</table>
