@model IEnumerable<Esercitazione_Polizia.Models.Violazione>

@{
    ViewBag.Title = "Index";
}

<h2>Elenco Violazioni</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDViolazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuntiDecurtati)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contestabile)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDViolazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PuntiDecurtati)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contestabile)
        </td>
      
    </tr>
}

</table>
